/* width */
::-webkit-scrollbar {
  width: 12px;
}

    
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4A0239; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: purple; 
}
